
body{
  background-image: linear-gradient(to right, rgb(9, 124, 164), rgb(78, 233, 157));
  font-size: ;
}

h1, h3{
  color: white;
  text-align: center;
  font-family: Lucida Calligraphy;
  font-weight: bold;
}

h1{
  color:red;
  font-size: 40px;
}



hr{
  width: 50%;
  color: red;
  border-color: red;
}

input{
  float: left;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: cursive;
  height: 40px;
}

input:focus{
  background: lightgray;
}

#enter{
  width: 10%;
  height: 50px;
  border-radius: 10px;
  background-color: red;
}

@media only screen and (max-width: 800px) {
  #enter{
    width: 20%;
  }
}

ul {
  border: 3px solid darkslategrey;
  padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}




.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


div{
  background-color: whitesmoke;
}

li:hover{
  cursor: pointer;
}

span{
  margin-left: auto;
}

.done {
  text-decoration: line-through;
  background-color: grey!important;
}

footer{
  font-family: cursive;
  position: absolute;
  right: 40%;
  bottom: 0;
  padding: 12px 16px 12px 16px;
}